# pixi environments
.pixi
*.egg-info
# magic environments
.magic
__pycache__

.env
*.so
*.dylib
.idea

bitmex-demo
gateio-demo
gateio-main-async
gateio-main
gateio-ws
memory_leak
monoio-connect-demo
sample
test_latency
bybit-main
engine-main
binance-main
