# pixi environments
.pixi
*.egg-info
# magic environments
.magic
__pycache__

.env
*.so
*.dylib
.idea

ccxt-bitmex-demo
ccxt-gateio-demo
gateio-main-async
gateio-main
gateio-ws
memory_leak
monoio-connect-demo
ccxt-sample
test_latency
bybit-main
